body
{
    background: rgb(144,157,240);
    background: linear-gradient(138deg, rgba(144,157,240,1) 10%, rgba(71,88,203,1) 40%, rgba(14,0,255,1) 65%, rgba(0,1,15,1) 100%);
}


h1
{
    font-weight: bolder;
    font-family: Akaya Telivigala;
}


.img:hover
{
    border-radius: 13px;
    border-color: rgb(58, 54, 54);
    border-width: 6px;
}

.img
{
    border-color: rgb(58, 54, 54);
    border-style: double;
    border-width: 6px;
    margin-bottom: 10px;
}

#camera
{
    border-radius: 20px;
    border-style: double;
    border-color: rgb(58, 54, 54);
    height: 360px;
    border-width: 10px;
}






